In [6]:
n = int(input())

5

In [41]:
arr = map(int, input().split())

2 3 6 6 5

In [42]:
maplist = list(arr)

In [52]:
maplist

[2, 3, 5, 6, 6]

In [63]:
runnerup_list = []
for num in maplist:
    if num < max(maplist):
        runnerup_list.append(num)
print(max(runnerup_list))

5

In [53]:
max(maplist)

6

In [64]:
if __name__ == '__main__':
    n = int(input())
    arr = map(int, input().split())
    runnerup_list = []
for num in maplist:
    if num < max(maplist):
        runnerup_list.append(num)
print(max(runnerup_list))

5
2 3 6 6 5
5

In [73]:
student_list = []
for _ in range(int(input())):
        name = input()
        score = float(input())
        student_list.append([name,score])

5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39

In [74]:
student_list

[['Harry', 37.21],
 ['Berry', 37.21],
 ['Tina', 37.2],
 ['Akriti', 41.0],
 ['Harsh', 39.0]]

In [75]:
score_list = []
for i in student_list:
    score_list.append(i[1])
score_list.sort()

In [76]:
score_list

[37.2, 37.21, 37.21, 39.0, 41.0]

In [77]:
second_lowest = score_list[1]
second_lowest

37.21

In [79]:
names = []
for i in student_list:
    if i[1] == second_lowest:
        names.append(i[0])

In [82]:
names.sort()
names

['Berry', 'Harry']

In [83]:
for i in names:
    print(i)

Berry
Harry

In [90]:
if __name__ == '__main__':
    student_list = []
    for _ in range(int(input())):
        name = input()
        score = float(input())
        student_list.append([name,score])
    
    score_list = []
    for i in student_list:
        score_list.append(i[1])
    #score_list.sort()
    score_list = list(set(score_list))
   

    second_lowest_list = []
    for num in score_list:
        if num > min(score_list):
            second_lowest_list.append(num)
    second_lowest_list.sort()      
    second_lowest = second_lowest_list[0]
    
    names = []
    for i in student_list:
        if i[1] == second_lowest:
            names.append(i[0])
    names.sort()
    
    for i in names:
        print(i)

4
Prashant
32
Pallavi
36
Dheeraj
39
Shivam
40
Pallavi

In [88]:
score_list = list(set(score_list))

In [89]:
score_list

[19.0, 20.0, 21.0]